* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {    
  padding: 20px 0;
  box-shadow: 2px 3px 4px #d0cfcf;
  background-color: #fff;
}

.nav-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 30px;
  font-weight: bold;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  cursor: pointer;  
  text-decoration: none;
  color: #000;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorFlipper {
  text-align: center;
}

.color-text {
  margin-bottom: 30px;
}

.btn {
  border: 2px solid #000;
  background-color: #eee;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.btn:hover {
  border-color: #fff;
  background-color: blueviolet;
  color: #fff;
}